# Required environment variables
# Supply values for all of these if you want your code to work!
#
#
# Slack bot must be added to the channel manually for it to be able to send messages.
# SLACK_BOT_TOKEN =
# SLACK_CHANNEL_ID =
# 
# Get these from your Braintree API area
BT_ENV = sandbox
# BT_MERCHANT_ID = 
# BT_PRIVATE_KEY = 
# BT_PUBLIC_KEY = 
#####################
# For future outbound email functionality
#
# The sender email must be validated by SES if you want your lambda to successfully send emails
SENDER_EMAIL = example@example.com
CC_EMAIL = optional@example.com
####EOF###
